#manage-heading {
    margin-left: 10px;
}

/* Spot Container */
#spot-display-container {
    display: flex;
    flex-wrap: wrap
}

.update-delete-buttons {
    cursor: default;
}

button {
    margin-left: 5px;
}
