#manage-heading {
    margin-left: 60px;
}

/* Spot Container */
#spot-display-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
}

.spot-image, .spot-info {
    cursor: pointer;
}

.update-delete-buttons {
    cursor: default;
}

button {
    margin-left: 5px;
}

#manage-spots-create-button {
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 5px;
    background-color: #999999;
    color: white;
    box-shadow: 1px 1px 1px black;
}

.update-button {
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 3px;
    background-color: #999999;
    color: white;
    box-shadow: 1px 1px 1px black;
}

#delete-spot-button {
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 3px;
    background-color: #999999;
    color: white;
    box-shadow: 1px 1px 1px black;
}

.manage-spot-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28em;
    width: 23%;
    min-width: 20em;
    margin: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
