#image-modal {
    height: 600px;
    width: 800px;
    background: rgb(0 0 0 / 40%);
    border: none;
}

#image-modal-content {
    height: 98%;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#image-modal-content button{
    height: 40px;
    width: 40px;
    background-color: #FF5A5F;
    color: white;
}

#image-modal-content img{
    max-height: 80%;
    max-width: 80%;
    min-height: 50%;
    min-width: 50%;
    margin: 0 auto;
    border-radius: 4px;
}

#x-button {
    position: absolute;
}
