/* Spot Container */
#landing-spot-display-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: 50px;
    margin-right: 25px;
    max-width: 2000px;
}


/* Spot Tile */

.spot-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    min-width: 20em;
    margin: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.spot-tile:hover {
    cursor: pointer;
}

.spot-image {
    overflow: hidden;
    border-radius: 10px;
    height: 20em;
    width: 100%;
}

.image {
    /* width: 100%;
    height: 100% */
    max-height: 115%;
    max-width: 115%;
    min-height: 100%;
    min-width: 100%;
}

.spot-info {
    height: 4em;
}

.city-state-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.spot-city-state {
    font-weight: bolder;
}

.fa-star {
    font-size: 13px;
    margin-right: 2px
}

.price-span {
    font-weight: bold;
    margin-left: 5px;
}

.night-span {
    font-weight: 100;
}


/*               */
/* media queries */
/*               */

@media only screen and (min-width: 980px){
    .spot-tile {
        width: 31%;
    }
}


@media only screen and (min-width: 1280px){
    .spot-tile {
        width: 23%;
    }
}

@media only screen and (min-width: 1580px){
    .spot-tile {
        width: 18%;
    }
}

@media only screen and (min-width: 1900px){
    .spot-tile {
        width: 15%;
    }

    #landing-spot-display-container {
        margin: 0 auto;
    }
}
