 /* GENERAL  */
button {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    border-bottom: 0.5px solid lightgray;
}

/* LOGO */

#logo {
    height: 40px;
}


/* PROFILE & DROPDOWN */

#profile-button {
    display: flex;
    align-items: center;
    margin-right: 30px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 15px;
}


#menu-bars {
    margin-right: 10px;
}


.login-menu-item:hover, .signup-menu-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}
