.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
    width: 30em;
    min-height: 150px;
    height: 20em;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}


.error-message {
    color: #FF5A5F;
}

#username-input {
    width: 25em;
    padding: 4px 2px;
    background-color: rgb(230, 235, 250);
    margin-bottom: 3px;
}

#password-input {
    width: 25em;
    padding: 4px 2px;
    background-color: rgb(230, 235, 250);
}

#form-login-button {
    width: 25.4em;
    margin: 0;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF5A5F;
    color: white;
    box-shadow: 2px 2px 1px rgb(107, 105, 105);
}

#form-login-button:disabled {
    background-color: white;
    color: gray
}

#demo-user-button {
    margin-right: 8px;
    font-size: 15px;
    color: rgb(17, 95, 95);
    background-color: transparent;
    border: none;
    text-decoration: underline;
}
